@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Luckiest+Guy&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --background: #ffffff;
  --foreground: #000000;
  --foreother: #313131;
  --navbarbg: color-mix(in oklab, var(--color-white) 95%, transparent);
  --border: color-mix(in oklab, var(--color-black) 20%, transparent);
  --borderHover: color-mix(in oklab, var(--color-black) 70%, transparent);
  --hoverTech: #e6e3e3;
  --input: #d0cbcb;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: auto;
  user-select: none;
}

@media (min-width: 1024px) {
  :root {
    cursor: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreother: var(--foreother);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --foreother: #99a1af;
    --border: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --borderHover: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --hoverTech: #171717;
    --navbarbg: color-mix(in oklab, var(--color-black) 95%, transparent);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
   font-family: "Roboto Mono", monospace;

  font-weight: 400;
  font-style: normal;
  
}

#snowCanvas {
  background: var(--background);
}




.logo b {
  font: 400 19vh "Vibur";
  color: var(--color-foreground);
  text-shadow: 0 0 0.5em #6dff44, 0 0 0.2em #54ff44;
}

@media only screen and (max-width: 480px) {
  .logo b {
    font: 400 14vh "Vibur";
  }
}



@media only screen and (min-width: 768px) {
  .logo b span {
  display: inline-block;
  animation: blinkOpacity linear infinite 3s;
  will-change: opacity, transform;
}

  .logo b span:nth-of-type(2) { animation-delay: 0.5s; }
  .logo b span:nth-of-type(3) { animation-delay: 1s; }
  .logo b span:nth-of-type(4) { animation-delay: 1.5s; }
}

@keyframes blinkOpacity {
  0%, 70%, 100% { opacity: 1; transform: scale(1); }
  75% { opacity: 0.5; transform: scale(0.98); }
  80% { opacity: 0; transform: scale(0.95); }
}
