@import "tailwindcss";

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --background: #ffffff;
  --foreground: #000000;
  --foreother: #313131;
  --border: color-mix(in oklab, var(--color-black) 20%, transparent);
  --borderHover: color-mix(in oklab, var(--color-black) 70%, transparent);
  --hoverTech: #e6e3e3;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: auto;
  user-select: none;
}

@media (min-width: 1024px) {
  :root {
    cursor: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreother: var(--foreother);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --foreother: #99a1af;
    --border: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --borderHover: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --hoverTech: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

#snowCanvas {
  background: var(--background);
}
