@import url(//fonts.googleapis.com/css?family=Vibur);
@import "tailwindcss";


:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --background: #ffffff;
  --foreground: #000000;
  --foreother: #313131;
  --navbarbg: color-mix(in oklab, var(--color-white) 50%, transparent);
  --border: color-mix(in oklab, var(--color-black) 20%, transparent);
  --borderHover: color-mix(in oklab, var(--color-black) 70%, transparent);
  --hoverTech: #e6e3e3;
  scroll-behavior: smooth;
  scrollbar-width: none;
  cursor: auto;
  user-select: none;
}

@media (min-width: 1024px) {
  :root {
    cursor: none;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreother: var(--foreother);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
    --foreother: #99a1af;
    --border: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --borderHover: color-mix(in oklab, var(--color-white) 20%, transparent 80%);
    --hoverTech: #171717;
    --navbarbg: color-mix(in oklab, var(--color-black) 50%, transparent);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

#snowCanvas {
  background: var(--background);
}

.logo {
  text-align: center;
  width: 65%;
  height: 250px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
   user-select: none;
}


.logo b{
  font: 400 19vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
.logo b span:nth-of-type(3){
  animation: blink linear infinite 4s;
}
.logo b span:nth-of-type(4){
  animation: blink linear infinite 3s;
}
.logo b span:nth-of-type(5){
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(6){
  animation: blink linear infinite 4s;
}
.logo b span:nth-of-type(7){
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(8){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}